.flex-table {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    text-align: center;
}

.body {
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.content {
    flex: 1;
}