@import url("//fonts.googleapis.com/css?family=Ubuntu");
@import url("/static/css/topnav.css");

body {
    display: inline-block;
    font-family: Ubuntu;
    background-color: #FFFFFF;
    color: #000000;
    width: 100%;
}
a {
    text-decoration: none;
    font-family: inherit;
    color: #1DB954;
}

p { 
    cursor: pointer;
}

a:hover {
    background: darkgray;
}