<!DOCTYPE html>
<html>
    <head>
        {{ template "header" }}
    </head>
    <body>
        <div class="content">
            {{ template "topnav" }}
            
            <div style="text-align:center;min-height: 480px;">
                <h1>oh no!</h1>
                <p>Something has gone terribly wrong! We've probably already noticed but if you'd like to reach out to let us know what happened, feel free to use the contact link in the footer</p>
                <p>Check back later to see if this issue has been resolved!</p>
                <p>We're so sorry!</p>
            </div>
        </div>
        
        {{ template "footer" }}
    </body>
</html>
