{{ define "footer" }}

<footer>
    <div class="footer">
        <div class="footer-cell">
            <a class="footer-item-left" href="mailto:spotify-views@webstercode.com">Contact</a>
        </div>
        <div class="footer-cell">
            <a class="footer-item-right" href="https://www.spotify.com">Spotify</a>
        </div>
    </div>
</footer>

{{ end }}