{{ define "header" }}
        {{ template "gtag" }}
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <title>Spotify Views: Your Music Trends and Recommendations | Login</title>
        <meta name="description" content="Dive into your Spotify listening activity!">
        <meta name="description" content="Spotify Views allows you to, based on your library and listening activity, check out your top artists, tracks, or genres, get recommendations for new artists and more!">
        <meta name="author" content="Mike Webster">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="/static/js/main.js"></script>
        <link rel="canonical" href="http://www.spotify-views.com">
{{ end }}
