{{ define "header" }}
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <title>Spotify Views by Mike Webster</title>
        <meta name="description" content="Dive into your Spotify listening activity to help you explore what you like! Everyone can use some help finding more enjoyable music, let us help!">
        <meta name="keywords" content="Spotify, music, trend, most listened, favorite music">
        <meta name="author" content="Mike Webster">
{{ end }}