<!DOCTYPE html>
<html>
    {{ template "header" }}

    <body>
        {{ template "topnav" }}
        
        <div style="text-align:center;min-height: 480px;">
            <h1>Spotify Views</h1>
            <p>Are you curious what your listening tendencies are?</p>
            <p>Are you trying to find new music?</p>

            <p>Can I <a href="/login">help?</a></p>
        </div>
    </body>

    {{ template "footer" }}
</html>