<!DOCTYPE html>
<html>
    <head>
        {{ template "header" }}
    </head>
    <body>
        {{ template "topnav" }}
        <div class="content">
            
            <div style="text-align:center;min-height: 480px;">
                <h1>Spotify Views</h1>
                <h4>Beta</h4>
                <p>Discover your listening trends.</p>

                <p><a href="/login">Log in</a> with Spotify to take a look.</p>
            </div>
            <br />
            <div style="text-align: center;">Powered by <a href="https://www.heroku.com">Heroku</a> and <a href="https://www.github.com">Github</a></div>
        </div>
        
        {{ template "footer" }}
    </body>
</html>
