<!DOCTYPE html>
<html>
    {{ template "header" }}
    <script src="/static/css/sortable.min.js"></script>
    <style>
        body {
            text-align: center;
            margin: 0;
        }

        .flex-table {
            display: flex; 
            flex-direction: row; 
            flex-wrap: wrap; 
            text-align: center;
        }

        .flex-table-item {
            flex: 1 0 26%; 
            margin: 5px;
            padding: 5px;
        }

        .flex-table-item > p {
            margin: auto
        }

        [data-item] {
            display: flex;
        }

        [data-item-invisible] {
            display: none !important;
        }

        [data-item-visible] {
            display: flex;
        }
    </style>
    <script>
        function hideAll() {
            document.querySelectorAll('[data-item]').forEach(function(item){
                item.removeAttribute("data-item-visible");
                item.setAttribute("data-item-invisible", "");
            });
        }

        function displaySome(start, num) {
            // num = num * 3; // I did this because the data-item used to be a div container but now its on the items
            console.log("displaying some: " + start + " - " + num);
            var rows = document.querySelectorAll('[data-item]');
            for(let i = start; i < start + num; i++) {
                try {
                    rows[i].setAttribute("data-item-visible", "");
                    rows[i].removeAttribute("data-item-invisible");
                    console.log("showing: ", i);
                } catch(ex) {
                    console.log("couldn't display item");
                    console.log(ex);
                }
            }
        }

        document.addEventListener("DOMContentLoaded", function(){
            var rows = document.querySelectorAll('[data-item]');
            var prev = document.getElementById("prev");
            var nxt = document.getElementById("next");
            var page = parseInt(document.getElementById("page").getAttribute('value'));
            var perPage = 10;
            var rowLength = rows.length /3;
            var pageLimit = parseInt(rowLength / perPage);

            if ((rowLength - 1) % perPage != 0) {
                pageLimit++;
            } 
            nxt.addEventListener("click", function(){
                hideAll();
                var page = parseInt(document.getElementById("page").getAttribute('value'));
                var perPage = 30;

                var starting = perPage * (1 + page);

                var rows = document.querySelectorAll("[data-item]");
                if (starting + perPage > rowLength) {
                    // next page will run out of room
                    displaySome(starting, rowLength - starting);
                } else {
                    displaySome(starting, perPage);
                }

                document.getElementById("page").setAttribute("value", page + 1);
            });
            prev.addEventListener("click", function(){
                hideAll();
                var page = parseInt(document.getElementById("page").getAttribute('value'));
                var perPage = 30;

                var starting = perPage * (page-1);

                var rows = document.querySelectorAll("[data-item]");
                if (page == 0) {
                    // next page will run out of room
                    displaySome(0, perPage);
                    document.getElementById("page").setAttribute("value", page);
                    return;
                } else {
                    displaySome(starting, perPage);
                }

                document.getElementById("page").setAttribute("value", page - 1);
            });

            hideAll();
            displaySome(0,30);

            var toggle = document.getElementById("toggle");
            var qs = window.location.search.substring(1);
            if (qs.includes("sort=asc")) {
                toggle.setAttribute("href", "/library/tempo");
                toggle.innerHTML = "switch to DESC";
            } else {
                toggle.setAttribute("href","/library/tempo?sort=asc");
                toggle.innerHTML = "switch to ASC";
            }
        });
    </script>
    <body>
        {{ template "topnav" }}
        <div class="content">
            <div style="width:100%; text-align:center;">
                <h1>Library</h1>
                <p>Sorted By: Tempo <a id="toggle"></a></p>
                <br />

                <div class="blurry-back-white flex-table">
                    <div class="flex-table-item"><p>Artist</p></div>
                    <div class="flex-table-item"><p>Song</p></div>
                    <div class="flex-table-item"><p>Tempo</p></div>
                    {{ range .Items }}
                        <div class="flex-table-item" data-item><p>{{ .Artist }}</p></div>
                        <div class="flex-table-item" data-item><p>{{ .Title }}</p></div>
                        <div class="flex-table-item" data-item><p>{{ .Tempo }}</p></div>
                    {{ end }}
                    <div class="flex-table-item" id="prev"><p><<</p></div>
                    <div class="flex-table-item"><input id="page" type="text" size="3" readonly value="0"></input></div>
                    <div class="flex-table-item" id="next"><p>>></p></div>
                </div>
            </div>
        </div> 
        {{ template "footer" }}
    </body>
    
</html>