{{ define "topnav" }}
    <div class="topnav responsive" id="svTopNav">
        <div class="left">
            <img src="/logos/default.png" class="logo" />
        </div>
        <div>
            <a href="/wordcloud" class="right">Word Cloud</a>
        </div>
        <div>
            <a href="/library/tempo" class="right">Library</a>
        </div>
        <div class="dropdown right">
            <button class="dropbtn">Artists<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="/artists/top" class="right">Top</a>
                <a href="/tracks/genres" class="right">Genres</a>
                <a href="/tracks/recommendations" class="right">Recommendations</a>
            </div>
        </div>
        <div class="dropdown right">
            <button class="dropbtn">Tracks<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
                <a href="/tracks/top" class="right">Top</a>
                <a href="/tracks/genres" class="right">Genres</a>
            </div>
        </div>
        <div>  
            <a href="javascript:void(0);" class="icon" onclick="topnavClick()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    
{{ end }}