<!DOCTYPE html>
<html>
    {{ template "header" }}
    <script src="/static/js/player.js"></script>

    <body>
        {{ template "topnav" }}
        
        <div style="width:100%; text-align:center;">
            <h1>Top Tracks</h1>
            <a style="width:33%" href="/tracks/top?time_range=long_term">Long Term</a><br />
            <a style="width:33%" href="/tracks/top?time_range=medium_term">Medium Term</a><br />
            <a style="width:33%" href="/tracks/top?time_range=short_term">Short Term</a><br /><br />
            {{ range . }}
                <div style="width:100%">
                    {{ template "player" . }}
                </div>
            {{ end }}
        </div>
    </body>
    
    {{ template "footer" }}
</html>