.topnav {
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}

.navlinks {
  list-style: none;
  padding: 0;
}

.navlinks a {
  color: white;
}

.navlinks .sub-menu {
  font-size: 14px;
}

.navlinks > li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  zoom: 1;
  height: 45px;
  padding: 0 5px;
}

.navlinks > .menu-btn {
  display: none;
}

.navlinks .logo {
  height: 45px;
}

.hov .hide {
  display: none;
}

.hov:hover .hide, .hov:active .hide {
  display: inline-flex;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .navlinks > li {
    display: none;
    justify-content: center;
    align-items: center;
    zoom: 1;
    height: 45px;
    padding: 0 5px;
  }

  .navlinks > .menu-btn {
    display: flex;
  }    
  
  .logo {
    display:none;
  }
}